<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col--3 footer__col footer__col--logo">
        <a href="/" class="logo logo--size-sm footer__logo">
          <picture class="logo__img">
            <img src="images/logo-white.svg" width="143" height="34" alt="Boom AI">
          </picture>
        </a>
        <div class="d-md-none footer__copyright">© 2024 Boom AI.<br>Все права защищены</div>
      </div>
      <div class="row__col--3 footer__col footer__col--nav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="footer__nav-title">Работа нейросети</p>
            </li>
            <li class="footer__nav-item">
              <a href="#features" class="js-anchor footer__nav-link">Возможности</a>
            </li>
            <li class="footer__nav-item">
              <a href="#whom" class="js-anchor footer__nav-link">Для кого</a>
            </li>
            <li class="footer__nav-item">
              <a href="#peculiarities" class="js-anchor footer__nav-link">Особенности</a>
            </li>
            <li class="footer__nav-item">
              <a href="#reviews" class="js-anchor footer__nav-link">Отзывы</a>
            </li>
            <li class="footer__nav-item">
              <a href="#faq" class="js-anchor footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col--3 footer__col footer__col--nav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="footer__nav-title">Полезное для вас</p>
            </li>
            <li class="footer__nav-item">
              <a href="contacts.html" class="footer__nav-link">Контакты</a>
            </li>
            <li class="footer__nav-item">
              <a href="privacy.html" class="footer__nav-link">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="terms.html" class="footer__nav-link">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="offer.html" class="footer__nav-link">Договор оферты</a>
            </li>
          </ul>
        </nav>
        <div class="d-md-block footer__copyright">© 2024 Boom AI.<br>Все права защищены</div>
      </div>
      <div class="d-md-none row__col--3 footer__col footer__col--action">
        <div class="footer__action">
          <button type="button" data-modal="popup-registration" class="btn btn--size-md btn--theme-accent-fill footer__action-btn">
            <span class="btn__inner">
              <span class="btn__title">Попробовать</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>